[submodule "libesphttpd"]
	path = libesphttpd
	url = http://git.spritesserver.nl/libesphttpd.git/
[submodule "user/wifi-config-module"]
	path = user/wifi-config-module
	url = git@github.com:perpernorbi/esphttpd-wifi-config-module.git
